html[dir=rtl] * {
    font-family: 'Cairo', sans-serif !important;
}

:root {
  --primary-color: #49235c;
  --secondary-color: #f4af2f;

  --navbar-link: var(--secondary-color);
  --navbar-link-active: var(--bs-gray-100);
}

.wave-bg-blue {
  background: var(--primary-color);
  color: white;
}

.navbar-nav a {
  color: var(--navbar-link);
}

.navbar-nav a:hover {
  color: var(--navbar-link-active);
}

.navbar-nav .nav-link.active {
  color: var(--navbar-link-active);
}

.wave-highlight {
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--secondary-color)
  ) !important
  ;
  background-position: 0 80% !important;
  background-repeat: no-repeat !important;
  background-size: 100% 2.5% !important;
}

.section-header {
  font-size: 3rem;
  color: #f4af2f !important;
}

/* ---------- Typography ---------- */
.paragraph {
    font-size: 1.5rem;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}


/* ---------- Teams ---------- */
.team-figure {
    text-align: center;
}

.team-figure img {
    max-width: 326px;
}